################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/listy/config/applicationhost.config
/listy-backend/.vs/listy
/.vs
